ACTION=="add", SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Teensyduino", ATTRS{product}=="USB Serial", SYMLINK+="teensy"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Hokuyo Data Flex for USB", ATTRS{product}=="URG-Series USB Driver", SYMLINK+="utm30lx"
