ACTION=="add", SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Teensyduino", ATTRS{product}=="USB Serial", SYMLINK+="teensy"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Hokuyo Data Flex for USB", ATTRS{product}=="URG-Series USB Driver", SYMLINK+="utm30lx"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="1546", ATTRS{idProduct}=="01a9", SYMLINK+="zedf9p"
