name: ROS noetic image build 
on:
  workflow_dispatch:
  schedule:
    - cron: '55 13 * * *'
  push:
    branches:
      - main

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-20.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Set up Docker Build
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./docker/ros_noetic
          build-args: BASE_IMAGE=hrjp/ubuntu:20_cudagl
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/ros:noetic_cudagl
      - name: Build and Push to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: ./docker/ros_noetic
          build-args: BASE_IMAGE=ubuntu:20.04
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/ros:noetic
